<div class="login view" md-theme="{{ (vm.error) ? 'error' : 'dark' }}" md-theme-watch="true">
  <div class="video-background">
    <div class="video-foreground">
      <iframe id="vimeoplayer" class="background-video ready" src="//player.vimeo.com/video/194241399?api=1&loop=1&autoplay=1" style="width: 2616.89px; height: 1472px; left: -646.944px; top: 0px;"></iframe>
    </div>
  </div>

  <md-content class="content" layout="row" layout-fill layout-align="center center">
    <div class="container" ng-class="{error: vm.error, digital: !vm.error}" flex-xs="90" flex-sm="60" flex-md="40" flex-gt-md="20" layout="column">
      <div layout="row" layout-align="center center" style="margin-bottom: 40px;">
        <concore-brand size="medium" background="colored"></concore-brand>
      </div>

      <div layout="column" ng-if="!success">
        <p>Informe o e-mail da sua conta que enviaremos um link para que você possa redefinir sua senha.</p>
        <md-input-container style="margin: 10px 0px;">
          <label>E-mail</label>
          <input type="text" ng-model="vm.user.email"/>
        </md-input-container>

        <div layout="row" layout-align="center center" ng-if="vm.error">
          <p>{{vm.error.message}}</p>
        </div>

        <div layout="column" layout-margin>
          <md-button ng-click="vm.forgotPassword($event)" class="md-primary" ng-disabled="!vm.user.email">Redefinir senha</md-button>
        </div>
      </div>
      <div layout="column" ng-if="success">
        <p>Foi enviado um e-mail para {{vm.user.email}} com o link de recuperação de senha. Por favor verique em alguns instantes. Caso não esteja lá, verifique também a caixa de spam do seu e-mail.</p>
      </div>
    </div>
  </md-content>
</div>
