<md-content
  class="login view"
  md-theme="{{ (vm.error) ? 'error' : 'dark' }}"
  md-theme-watch="true"
  ng-class="{error: vm.error, digital: !vm.error, animate: vm.isLogging}"
  layout="column"
  layout-fill
  layout-align="center center"
  layout-margin>

  <!-- <div class="container" ng-show="vm.isLogging">
    <md-progress-circular></md-progress-circular>
  </div> -->

  <form
    ng-submit="vm.auth($event)"
    layout="column"
    layout-margin>

    <div layout="row" layout-align="center center">
      <concore-brand size="small" background="colored"></concore-brand>
    </div>

    <div class="input_container" layout="column" ng-hide="vm.isLogging">
      <!-- <md-input-container>
        <label>Organização</label>
        <input type="text" ng-model="vm.organization" autocorrect="off" autocapitalize="none"/>
      </md-input-container> -->

      <md-input-container>
        <label>Usuário</label>
        <input type="email" ng-model="vm.user.email"/>
      </md-input-container>

      <md-input-container>
        <label>Senha</label>
        <input type="password" ng-model="vm.user.password"/>
      </md-input-container>

      <div layout="row" layout-align="center center" ng-if="vm.error">
        <p>{{vm.error.message}}</p>
      </div>

      <md-button type="submit"
        ng-disabled="!vm.shouldEnableLogin()"
        class="md-primary">
        Login
      </md-button>
    </div>

  </form>
</md-content>