<div class="main-container">
  <div class="content-container">
    <div class="page-signup">
      <div class="wrapper">
        <div class="main-body">
          <div class="body-inner">
            <div class="card bg-white">
              <div class="card-content">
                <section class="logo text-center">
                  <h1>
                    <a ng-href="/">
                      <concore-brand background="white"></concore-brand>
                    </a>
                  </h1>
                </section>
                <div class="callout callout-danger" ng-if="$ctrl.error">
                  <h4>Errors:</h4>
                  <p>{{$ctrl.error.message || "Unknown error."}}</p>
                </div>
                <form class="form-horizontal" ng-submit="$ctrl.register($event)" name="registerForm">
                  <fieldset>
                    <md-input-container class="md-block">
                      <label>Name</label>
                      <input
                        required
                        name="name"
                        ng-model="$ctrl.user.name"
                        type="text">
                      <div ng-messages="registerForm.$error" multiple ng-if="registerForm.name.$pristine">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Email</label>
                      <input
                        required
                        name="email"
                        ng-model="$ctrl.user.email"
                        type="email">
                      <div ng-messages="registerForm.$error" multiple ng-if="registerForm.email.$pristine">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">It must be an e-mail address.</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Password</label>
                      <input
                        required
                        name="password"
                        ng-model="$ctrl.user.password"
                        ng-minlength="6"
                        type="password">
                      <div ng-messages="registerForm.$error" multiple ng-if="registerForm.password.$pristine">
                        <div ng-message="minlength">It must have 6 or more characters.</div>
                      </div>
                    </md-input-container>
                    <div class="divider"></div>
                    <div class="form-group">
                      <p class="text-small">
                        By clicking on sign up, you agree to <a href="javascript:;"><i>terms</i></a> and <a href="javascript:;"><i>privacy policy</i></a>
                      </p>
                    </div>
                  </fieldset>
                  <div class="card-action no-border text-right">
                    <div class="row row-space-bottom">
                      <div class="col-md-12">
                        <md-button type="submit" class="md-primary" ng-disabled="registerForm.$invalid">Sign In</md-button>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <social-button social="google" ng-click="$ctrl.authGoogle()" with-icon="true">With Google</social-button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="additional-info">
              <a ui-sref="login">Login</a>
              <span class="divider-h"></span>
              <a ui-sref="forgot-password">Forgot your password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>