<div layout="column" layout-align="center center" layout-fill>
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  <label class="action" ng-if="vm.action">{{vm.action}}</label>
</div>