<md-button type="{{$ctrl.type}}" class="social {{$ctrl.stylus.className}}">
  <md-icon ng-if="$ctrl.stylus.withIcon" md-svg-src="{{$ctrl.stylus.iconSrc}}"></md-icon>
  <ng-transclude></ng-transclude>
</md-button>