/**
 * Social Network Colors
 */
$googleplus: #D84F40;
$facebook: #3b5998;
$linkedin: #1178B3;

social-button {
  display: block;
}

button.md-button {
  &.social {
    width: 100%;
  }
  &.btn- {
    &facebook {
      background-color: $facebook;
      color: #FFF;

      &.btn-transparent {
        color: $facebook;
        background-color: transparent;
      }
    }

    &google {
      background-color: $googleplus;
      color: #fff;

      &.btn-transparent {
        color: $googleplus;
        background-color: transparent;
      }
    }

    &linkedin {
      background-color: $linkedin;
      color: #fff;

      &.btn-transparent {
        color: $linkedin;
        background-color: transparent;
      }
    }
  }
}