<wait ng-if="vm.isLoading" action="{{vm.action}}"></wait>

<div layout="column">
  <section layout="row" flex id="main">
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="true"
        md-whiteframe="4">
      <md-toolbar>
        <img src="../../../assets/images/logo-kline.png" alt="">
      </md-toolbar>
      <md-content class="content" layout-padding ng-click="vm.close()">
        <div class="user-info" flex layout="column" layout-align="start">
          <div layout="row" layout-align="space-between center" flex>
            <div flex="70">
              <h3>
                <small>Edson Hanaki</small>
                <small>Administrador</small>
              </h3>
            </div>
            <div flex="20">
              <div>
                <a href="#" class="logout">Sair</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="menu">
          <ul>
            <li>
              <a href="#">
                <i class="zmdi zmdi-notifications"></i>
                Notifications
              </a>
            </li>
            <li>
              <a href="#">
                <i class="zmdi zmdi-accounts-alt"></i>
                Users
              </a>
            </li>
          </ul>
        </div>
      </md-content>
    </md-sidenav>
    <md-content class="content" flex layout-padding>
      <div class="innerContent" layout="column" layout-align="top left">
        <div class="titulo">
          <h1>NOTIFICAÇÕES</h1>
        </div>
        <div class="container">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">MISSED DAY JUSTIFICATION</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div class="employee">
                <small>Employee</small>
                <span>José Silva Bragança</span>
              </div>
              <div class="date">
                <small>Missed Day</small>
                <span>12/10/2018 (Yesturday)</span>
              </div>
              <div class="justification">
                <small>Justification</small>
                <span>Needed to get my dog to the vet</span>
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="space-between center">
              <div flex="50">
                <md-button class="butao" aria-label="Favorite">
                  ACCEPT
                </md-button>
              </div>
              <div flex="50">
                <md-button>
                  REJECT
                </md-button>
              </div>
            </md-card-actions>
          </md-card>
        </div>
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>
  </section>
</div>


