#main {
  height: 100vh;
}
md-sidenav {
  md-content.content {
    background: white;
    border-top: 1px solid #cccccc;
    overflow-y: visible;
    overflow-x: hidden;
    
    .user-info {
      div {
        h3 {
          small:first-child {
            width: 100%;
            display: block;
            color: #000000;
          }
          small:last-child {
            width: 100%;
            font-size: 70%;
            color: #cccccc;
          }
        }
      }

      div {
        a.logout {
          width: 80px;
          display: block;
          color: red;
        }
      }
    }
  }

  .menu {
    margin: 0;
    padding: 0;
    border-top: 1px solid #cccccc;
  
    ul {
      margin: 0;
      padding: 0;
      
      li {
        a {
          width: 90% !important;
          display: block;
          text-align: center;
          padding: 10px 0;
          margin: 10px auto;
          text-decoration: none;
          color: #9a9a9a;
          border-radius: 5px;
          
          &:hover {
            background: #fbeea7;
            color: #c8b300;

            i {
              color: #c8b300;
            }
          }
          
        }
        
      }
    }
  }
}

md-toolbar {
  background: white !important;
  padding: 20px;

  img {
    width: 100%;
  }
}

md-content.content {
  background: #f3f2f3;
  margin: 0;
  padding: 0;

  .innerContent {
    margin: 0;
    padding: 0;

    .titulo {
      padding: 20px 20px;
      background: #4b4b4b;
      color: #FFFFFF;
      font-weight: normal;

      h1 {
        margin: 0;
      }
    }
  }

  .container {
    md-card {
      md-card-content {
        .employee,
        .date,
        .justification {
          margin-bottom: 10px;
          small, span {
            display: block;
          }  
        }
      }
      md-card-actions {
        border-top: 1px solid #cccccc;
        padding-top: 5px;
        text-align: center;
      }
    }
  }
}


