<wait ng-if="vm.isLoading" action="{{vm.action}}"></wait>
<section layout="column" layout-fill layout-align="center center" id="main">
  <div layout="column" class="text white" layout-align="center center">
    <h2 class="md-display-2">This is the Main template</h2>
    <p class="md-subhead">and this is you!</p>
  </div>
  <div layout="column">
    <md-card>
      <md-tooltip md-direction="top">Yeah, its really you!!</md-tooltip>
      <img class="md-card-image" src="{{vm.user.getAtoms('avatar').getUrl()}}" alt="image caption">
      <md-card-content>
        <h2>{{vm.user.getAtoms('name')}}</h2>
        <p>{{vm.user.getAtoms('username')}}</p>
      </md-card-content>
      <div class="md-actions" layout="column">
         <md-button class="md-raised md-warn" ng-click="vm.logout()"  aria-label="logout">Logout</md-button>
       </div>
    </md-card>
  </div>
</section>