md-icon.concore {
  &.xs {
    width: 40px;
    height: 40px;
  }

  &.small {
    width: 55px;
    height: 64px;
  }

  &.medium {
    width: 94px;
    height: 110px;
  }

  &.large {
    width: 136px;
    height: 160px;
  }
}